@font-face {
    -fx-font-family: 'Roboto';
    -fx-src: url('../font/Roboto/Roboto-Regular.ttf');
}

.anchor-pane {
	-fx-background-color : #FFF;
}

.Label {
	    -fx-font-family: 'Roboto';
}


.md-button {
    -fx-font-family: 'Roboto';
    -fx-text-fill: #444;
    -fx-background-color: rgba(230, 230, 230, 1);
    -fx-background-insets: 0;
    -fx-padding: 6 12;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 4, 0.0, 0, 1);
}

.md-button:pressed {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 8, 0.0, 0, 3);
}

.md-button:focused {
    -fx-background-color:
        rgba(245, 245, 245, 1),
        rgba(230, 230, 230, 1);
    -fx-background-insets: 0, 1;
}


.tab-pane {
	-fx-background-color : #FFF;
	-fx-border-width : 1
}

.text-field {
	-fx-background-radius : 15;
}

.tab{
    -fx-font-family: 'Roboto';
    -fx-text-fill: #444;
    -fx-background-color: rgba(230, 230, 230, 1);
    -fx-background-insets: 0;
    -fx-padding: 6 12;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 4, 0.0, 0, 1);
}

.tab:selected
{
    -fx-background-color: #FFF;
    -fx-border-width : 5 2 2 0
}

.tab:selected .focus-indicator
{
    -fx-focus-color: transparent;

}

.tab .tab-label {
    -fx-text-fill: #444;
    -fx-font-size: 14px;
}


.tab:selected .tab-label {
    -fx-background-color: #FFF;
}

top *.tab-header-area {
    -fx-background-color: #FFF;
}